<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item list</title>
</head>
<body>
    <h1> Shoppy Cart </h1>
    <form action="/items/<%= item._id %>?_method=PUT" method="POST">
        Item Name: <input type="text" name="name" value="<%= item.name %>" required /><br />
        Quantity: <input type="number" name="quantity" value="<%= item.quantity %>" /><br />
        Unit of measure: <input type="unit" name="unit" value="<%= item.unit %>" /><br />
        Additional Info: <input type="notes" name="notes" value="<%= item.notes %>" /><br />
        Date Needed By: <input type="date" name="date" value="<%= item.date %>" /><br />
      <input type="submit" value="Submit Changes" />
    </form>
</body>
</html>