<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item list</title>
</head>
<body>
    <h1> Shoppy Cart </h1>
    <h2><%= storeID %> </h2>
    <img src=<%= "/img/" + storeID + ".png" %> />
    <form action="/items<%= index %>?_method=PUT" method="POST">
        Item Name: <input type="text" name="item-name" value="<%= items.name %>" required /><br />
        Quantity: <input type="number" name="quantity" value="<%= items.quantity %>" /><br />
        Unit of measure: <input type="" name="units" value="<%= items.units %>" /><br />
        Additional Info: 
        Date Needed By: 
        <input type="submit" name="" value="Submit Changes" />
    </form>
</body>
</html>