<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your List</title>
</head>
<body>
    <h1>Show Items Page</h1>

       <p>Item Name: <%= items.name %></p> 
       <p>Quantity: <%= items.quantity %></p>
        <p>Unit of measure: <%= items.unit %></p>
        <p>Additional Info: <%= items.notes %></p>
        <p>Date Needed By: <%= items.date %></p>
    <ul>
        <li>
            <form action="/items/<%= items._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" />
            </form>
            <a href="/items/<%= items._id %>/edit">Edit</a>
        </li>
    </ul>
</body>
</html>